.chartContainer {
  margin: 20px;

  /* position: absolute;
  top: 50%;
  transform: translate(0%, -50%);

  width: 688px;
  height: 340px;

  background-color: #ffffff; */
}

/* @media screen and (min-width: 768px) {
  .chartContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .chartContainer {
    display: block;
    width: 933px;
    height: 461px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
} */
